*{
    margin :0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 70%;
    margin: auto;
}
.section-header{
    margin-bottom: 30px;
}
.section-header h4{
    font-size :25px;
    text-align :center;
}
.section-header p{
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    color: gray;
}

/* Header section */

header{
    background :white;
    width:100%;
    height: auto;
    text-align :center;
    padding-bottom: 18px;
    position :fixed;
    top: 0;
    left:0;
    right:0;
    z-index :4;
    box-shadow :0px 2px 2px 0px rgba(100,100,500,.4);
}
.logo {
    width: 20%;
    float: left;
    padding-top: 17px;
    text-align: left;
    margin-left: 10%;
}
.logo a{
    color:black;
}
.logo a span{
    background:rgb(142, 93, 175);
    color: white;
    padding: 8px 13px;
    border-radius: 5px;
    margin-right:10px;
    font-size:23px;
}
.logo a span b{
    font-size :17px;
    position: relative;
    bottom :25px;
    margin-right:11px;
}
.logo a:hover{
    color: grey;
}

.menu {
    padding-top: 22px;
    width: 45%;
    float: left;
    text-align: center;
}
.menu ul{
    margin-right:15px;
}
.menu ul li{
    list-style :none;
    display :inline-block;
    font-size :15px;
    margin :0px 7px;
    position :relative ;
    color:black ;
    font-weight :bold;
}
.menu ul li a{
    color:black;
    font-size :14px;
    padding: 21px 0px;
}
.menu ul li a:hover{
    color:rgb(142, 93, 175);
}
.menu ul li ul{
    position :absolute ;
    top:38px;
    left:0;
    visibility: hidden;
    background-color: #fff;
    box-shadow :0px 2px 2px 0px rgba(100,100,500,.4);
    margin-right: 0;
    transition :.3s;
}
.menu ul li:hover ul{
    visibility:visible;
}
.menu ul li ul li{
    background:white;
    width: 185px;
    font-size :21px;
    display: block;
    text-align: left;
    padding:0px 10px;
    margin:5px 0px;
}
.menu ul li ul li a{
    padding: 10px 0px;
    display: block;
}
.menu ul li ul li:hover a{
    color:rgb(142, 93, 175);
}
.batton {
    width: 15%;
    float: left;
    padding-top: 22px;
    text-align: right;
    margin-right: 10%;
}
.batton a {
    color: rgb(142, 93, 175);
    border: 2px solid rgb(142, 93, 175);
    padding: 6px 10px;
    border-radius: 5px;
    transition: .3s;
}
.batton a:hover{
    background :rgb(142, 93, 175);
    color:white ;
}

/* Banner section */

.banner{
    background :url(banner-c.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    z-index :1;
    text-align :center;
    margin-top: 60px;
    padding: 150px 0px;
    position: relative;
}
.banner::after{
    content:"";
    width:100%;
    height:100%;
    background :rgba(0, 0, 0, 0.4);
    position: absolute;
    top:0;
    left:0;
    z-index :-1;
}
.banner-div p{
    color:white ;
    font-size :20px;
}
.banner-div b{
    color:white ;
    font-size :40px;
    display:block;
    padding: 30px 0px;
}

.banner a {
    display: inline-block;
    background: white;
    padding: 13px 10px;
    border-radius: 5px;
    margin: 5px 5px;
    font-size: 17px;
    color: rgb(155, 150, 150);
    width: 130px;
    transition: .3s;
}
.banner a span{
    color: rgb(155, 150, 150);
    font-size: 25px;
}
.banner a b{
    position: relative;
    top: -3px;
    font-size:17px;
    margin-left: 6px;
    color: rgb(155, 150, 150);
    display: inline-block;
    padding: 0px;
}

.banner a:hover{
    background-color:rgb(142, 93, 175);
}
.banner a:hover span{
    color:white;
}
.banner a:hover b{
    color:white;
}

/* About section */

.about{
    width:100%;
    margin :auto;
    padding:60px 0px;
    background-color: #fafafa;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left{
    width:50%;
    text-align:right;
    padding-right:20px;
}
.video-div iframe{
    width:100%;
    height:260px;
}
.about-right{
    width:50%;
    text-align :left;
}
.about-right h4{
    font-size :25px;
}
.about-right p{
    font-size: 15px;
    margin-top: 25px;
    line-height: 30px;
    color: gray;
}

/* service-section */

.service-section{
    width:100%;
    padding:60px 0px;
    text-align: center;
    clear: both;
}
.service-div {
    margin: 15px 10px;
    width: 23%;
    text-align: left;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    display: inline-block;
    transition: .1s;
}
.service-div:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.service-div span{
    color: rgb(142, 93, 175);
    font-size: 26px;
    display: block;
    float: left;
    width: 20%;
}
.service{
    width:80%;
    float: right;
}
.service h6{
    font-size :25px;
}
.service p{
    font-size: 15px;
    padding-top:5px;
    line-height :25px;
    color:gray;
}

/* using-section */

.using-section{
    width :100%;
    padding:60px 0px;
    transition :.4s;
    text-align: center;

}
.using {
    width: 27%;
    display: inline-block;
    margin: 15px 14px;
    transition: .4s;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition :.2s;
}
.using:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.using:hover .using-top{
    background:rgb(142, 93, 175);
}
.using-top{
    padding: 20px;
    text-align: left;
    transition :.3s;
}
.using-top .p1 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
}
.using-top .p2 {
    font-size: 17px;
    font-weight: bold;
    margin: 15px 0px;
}
.using-top .p3 {
    font-size: 15px;
    color: gray;
    line-height: 25px;
}
.using-top .b1{
    font-size :37px;
}
.using-top .b2{
    font-size: 17px;
}

.using:hover .using-top p{
    color:white;
}
.using:hover .using-top b{
    color:white;
}
.using-bottom{
    padding: 20px;
    text-align: left;
    border-top :1px solid silver ;
}
.using-bottom ul{
    padding-bottom:20px;
}
.using-bottom span{
    font-size: 25px;
    margin-right :14px;
    position: relative;
    top: 3px;
    color:rgb(142, 93, 175);
}
.using-bottom li {
    list-style: none;
    font-size: 15px;
    margin-top: 5px;
    color: gray;
}
.using-bottom a{
    text-align: center;
    color: rgb(142, 93, 175);
    background-color: white;
    font-size: 14px;
    display: block;
    margin: 10px auto;
    width: 120px;
    padding: 13px 7px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    border-radius: 4px;
    font-weight: bold;
    transition :.4s;
}
.using:hover .using-bottom a{
    color:white;
    background:rgb(142, 93, 175);
}
.using .using-bottom a:hover{
    color:white;
    background-color:black;
}

/* team-section  */

.team-section{
    width:100%;
    padding:60px 0px;
    text-align: center;
}
.team-mamber {
    width: 19%;
    margin: 20px 17px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    display: inline-block;
    transition: .1s;
}
.team-mamber:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.team-mamber img{
    max-width :100%;
    border-radius :4px 4px 0px 0px;
}
.m-bio{
    padding:12px 12px;
    text-align: left;
}
.m-bio h6{
    font-size :16px;
}
.m-bio p{
    font-size :13px;
    margin-top :4px;
}

.sub-div{
    background-color: #fafafa;
    padding: 60px 0px;
    text-align :center;
}
.sub-div p{
    margin-bottom: 20px;
}
.sub-data {
    width: 240px;
    border: .5px solid silver;
    padding: 10px 13px;
    outline: none;
    margin-right: 0;
    font-size: 17px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    border-radius: 3px;
    border: none;
    transition: .3s;
}
.sub-data:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.sub-submit {
    background: rgb(142, 93, 175);
    font-size: 17px;
    color: white;
    width: 150px;
    padding: 10px 8px;
    border: .5px solid silver;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    border-radius: 5px;
    transition: .3s;
}
.sub-submit:hover{
    background:white;
    color:black;
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}

/* blog-section */

.blog-section{
    width:100%;
    height: auto;
    padding:50px 0px;
}
.row1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.row1-l{
    padding-bottom :30px;
}
.row1-l h5{
    margin: 15px 0px;
    font-size :30px;
}
.row1-r {
    width:45%;
    padding-bottom: 19px;
    padding-left: 110px;
}
.row1-r p {
    font-size: 17px;
    line-height: 30px;
    color: gray;
}

.row2 {
    padding: 30px 0px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.blog {
    width: 45%;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    display: flex;
    transition: .1s;
}
.blog:hover{
    box-shadow :0px 0px 10px 0px rgb(163, 126, 185);
}
.blog img {
    max-width: 50%;
}
.blog-data{
    width:50%;
    padding-top :11px;
    text-align: left;
}
.blog-data b {
    font-size: 25px;
    margin: 0px 15px;
}
.blog-data p{
    font-size: 17px;
    color: gray;
    margin: 11px 15px;
    line-height: 25px;
}

/*tc section work*/

.tc-section{
    width:100%;
    padding:60px 0px;
    background-color: #fafafa;
    text-align: center;
}
.tc-div {
    width: 23%;
    display: inline-block;
    margin: 20px 30px;
}
.tc-div:hover .tc-comment{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
    transition :.1s;
}
.tc-div:hover .tc-user{
    transform:scale(1.1);
    transition :.1s;
}
.tc-comment{
    background :white;
    width:100%;
    border-radius :2%;
    position:relative;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
}
.tc-comment:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.tc-comment .p-icon{
    transform:rotate(-90deg);
    position :absolute ;
    font-size :25px;
    color:white;
    bottom :-29.5px;
    left :0;
    right:0;
}
.tc-comment p{
    font-size :15px;
    line-height: 25px;
    color:#767676;
    text-align:center;
    padding:13px;
}
.tc-user{
    width:100%;
    height:32px;
    margin:auto;
    padding-top :20px;
    transition: .4s;
}
    tc-user:hover{
    transform:scale(1.1);
    transition :.1s;
}
.imgdiv-user{
    width:45%;
    float:left;
    text-align :right;
}
.imgdiv-user .img-user{
    width: 60px;
    border-radius :50%;
    margin-right: 15px;
}
.tc-user .user-data{
    width:55%;
    float:right;
    padding-top :10px;
    text-align :left;
}
.user-data b{
    font-size: 15px;
    font-weight: 600;
}
.user-data span{
    font-size: 13px;
    color: #767676;
    display: block;
    margin-top: 5px;
}

/* contect section */

.contect-section{
    width:100%;
    padding:60px 0px;
}
.contect-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contect-l{
    width:50%;
    text-align :left;
}
.map-div iframe{
    width: 100%;
    height: 445px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
}
.map-div iframe:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.contect-r{
    width:50%;
    text-align :center;
    padding-left: 50px;
}
.contect-r form{
    text-align :left;
    width: 95%;
    margin: auto;
}
.contect-r b{
    font-size: 25px;
    font-weight: 600;
    display: block;
    text-align: left;
}
.contect-r p{
    font-weight: normal;
    color: gray;
    line-height: 25px;
    margin-top:10px;
    font-size: 17px;
    text-align: left;
}
.i-email{
    width:93%;
    border: none;
    background: white;
    padding: 12px 13px;
    margin: 20px 0px;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition: .3s;
}
.i-email:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.i-np1{
    width:41%;
    border:none;
    background :white;
    border-radius :4px;
    padding: 12px 13px;
    margin-bottom :20px;
    margin-right: 20px;
    outline :none;
    font-size :15px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition: .3s;
}
.i-np1:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.i-np2{
    width:41%;
    border:none;
    background :white;
    border-radius :4px;
    padding:12px 13px;
    margin-bottom :20px;
    outline :none;
    font-size :15px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition: .3s;
}
.i-np2:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
textarea{
    width:93%;
    border: none;
    background: white;
    border-radius: 4px;
    padding: 12px 13px;
    margin-bottom: 16px;
    outline: none;
    font-size: 15px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition: .3s;
}
textarea:hover{
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
.i-submit{
    width:140px;
    border:none;
    background :rgb(142, 93, 175);
    color:white;
    font-weight: 600;
    border-radius :4px;
    padding:10px 6px;
    margin :3px 0px;
    outline :none;
    font-size :15px;
    box-shadow: 0px 2px 8px -2px rgb(206, 185, 219);
    transition: .3s;
}
.i-submit:hover{
    background :white;
    color:rgb(142, 93, 175);
    box-shadow :0px 0px 8px 0px rgb(196, 163, 216);
}
footer{
    background-color: #fafafa;
    clear: both;
    padding: 20px 0px;
}
footer p{
    color:gray;
    font-size :14px;
    text-align :center;
}